
.survey-error {
    color: red;
}
.red {
    background-color:red;
}
.green {
    background-color:green;
}
/*

.shore-logo {
    margin-top: 1rem;
}

.radio-vertical {
    display: block !important;
}
.radio-horizontal {
    display: inline !important;
    margin-right: 10px; /* figure out a way to remove this */
}
*/